* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.5);
}

button {
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.5);
	text-decoration-color: #FFFFFF;
    color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0);
	border-style: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

#lock {
background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}
#shutdown {
background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
