* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.5);
}

button {
    border-radius: 30px;
    margin: 5px 50px;
    border-color: rgba(255, 255, 255, 1);
	text-decoration-color: #000000;
    color: rgba(0, 0, 0, 1);
	background-color: rgba(150, 200, 200, 1);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:hover, button:active button:focus{
	background-color: rgba(255, 255, 255, 1);
	border-width: 100px;
	border-color: white;
}

#logout {
background-image: image(url("/home/huai/.config/wlogout/icons/lock.png"));
}

#shutdown {
background-image: image(url("/home/huai/.config/wlogout/icons/shutdown.png"));
}

#reboot {
background-image: image(url("/home/huai/.config/wlogout/icons/reboot.png"));
}
