window {
    margin: 0px;
    border: 2px solid;
    border-color: rgba(0,0,0,0);
    border-radius: 10px;
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
    font-size: 18px;
}

#input {
    margin: 12px 12px;
    border: solid 1px;
    border-color: white;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 18px;
}

#inner-box {
    margin: 12px;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size: 18px;
}

#outer-box {
    margin: 12px;
    border: none;
    background-color: rgba(0,0,0,0);
    font-size:18px;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 10px;
    border: none;
    color: #ffffff;
    font-size: 18px;
}

#entry:selected {
    background-color: #4d75d1;
    color: #ffffff;
    border-style: solid;
    border-radius: 10px;
}
